<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Wikinimous", articles_path, class: "text-dark text-decoration-none", style: "font-size: 20px;" %>
    <%= link_to "New Article", new_article_path, class: "btn btn-primary" %>
  </div>
</nav>
