<div class="container mt-5 pt-5" style="max-width: 800px; width: 100%;">
  <h1>New article</h1>
  <%= render "form", article: @article %>
  <p class="mt-2">
    <%= link_to "Back", articles_path %>
  </p>
</div>
